# Django
SECRET_KEY=your-django-secret-key
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgresql://username:password@hostname:5432/database_name
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
FRONTEND_URL=http://localhost:3000
EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=your-email-app-password
GOOGLE_CLIENT_ID=your-google-client-id
RAZORPAY_KEY_ID=rzp_test_your_key_id
RAZORPAY_KEY_SECRET=your_razorpay_test_secret

# Next.js
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000
NEXT_PUBLIC_RAZORPAY_KEY=rzp_test_your_key_id
